.banner {
background-image: url(../images/adopteunmec.png);
height: 99vh;
background-size: cover;
background-position: center;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}



.banner h1, .banner p {
color: white;
}
.banner h1{
    font-size: 80px;
}


.banner p{
    font-size: 36px;
    text-align: center;
}
